<nav class="navbar">
  <mat-toolbar>
    <a mat-raised-button color="secondary" routerLink="/">Home</a>
    <a  mat-raised-button color="secondary" routerLink="/repair">Repair services</a>
    <a mat-raised-button color="secondary" routerLink="/add">Add</a>
    <span class="spacer"></span>
    <a mat-raised-button color="secondary" routerLink="/register">Registration</a>
    <a mat-raised-button color="secondary" routerLink="/login">Login</a>
    <a mat-raised-button color="secondary" routerLink="/logout">Logout</a>
  </mat-toolbar>
</nav>
