<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="Enter your name" name="username"
           [(ngModel)] ="username">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" value="" name="email" type="email" [(ngModel)]= "email">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" value="" name="password" type="password" [(ngModel)]= "password">
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="register()">Submit</button>
</form>
